/*Barra de Navegacion*/
.navbar{
  padding: 1rem;
  background-color: #f5f6f7;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
/* Estilos Generales */
section {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.5rem;
  font-family: 'Lilita One', cursive;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}
.seccion-clara {
  color: black;
  background-color: white;  
}
.seccion-transparente {
  color: black;
  background-color: transparent;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Lilita One', cursive;
}
.seccion-texto{
  font-size: 1.2rem;
}

/* Login */
.login {
  height: 50px;
  padding: 10px;
}
.login-imagen{
  height: 50px;
  /* width: 300px; */
  border: solid 2px black;
}

/* Seccion Principal */
.principal {
  background-color:#FEF5E7;
  min-height: 350px;
  text-align: center;
}
.principal-superior{
  padding: 10px;
}

.principal-imagen-perfil{
  width: 200px;
  height:200px;
  border-radius: 50%;
  margin: 20px;
}
.principal-superior h2{
  font-size:1.5rem;
  color: black;
}
.principal-inferior{
  display: flex;
  background-color: rgb(2, 0, 139);
  padding: 4px;
  height: 50px;
  text-align: center;
  justify-content: center;
}

/* Sobre mi */
.sobre-mi {
  height: 250px;
  padding: 10px
}
.sobre-mi .contenedor{
  max-width: 600px;
  text-align: center;
}

/* Seccion Educacion */
.educacion {
  background-color:#FEF5E7;
  min-height: 180px;
  text-align: center;
  margin-bottom: 20px;
}
.educacion-imagen-logo{
  width: 70px;
  height:70px;
  margin-right: 15px;
}
.educacion-titulo {
  font-size: 1.5rem;
  font-family: 'Lilita One', cursive;
  margin: 0; 
}
.educacion-texto {
  font-size: 1.1rem;
  font-family: 'Lilita One', cursive;
  text-align: left;
  margin: 0; 
}

/* seccion experiencia */
.experiencia .row div {
  height: 200px;
  background-color: blue;
  border: 3px solid olive;
  border-radius: 10%;
}
.experiencia-cargo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.experiencia-texto {
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}

/* Proyecto */
.proyectos {
  padding: 40px 40px 40px 40px;
}
.proyectos img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: block;
}

.proyectos .carousel {
  max-width: 800px;
}
.carousel-item {
  max-height: 500px;
}
.carousel-caption {
  max-height: 150px;
  padding: 0;
}

/* Adaptable/responsivo */
@media screen and (max-width:767px) {
  .navbar-brand {
    display :none;
  }  
}
@media screen and (max-width:610px) {
  .educacion-titulo {
    font-size: 1.2rem;
    margin: 0; 
  }
  .educacion-texto {
    font-size: 0.8rem;
    margin: 0; 
  }
}