/*Barra de Navegacion*/
.navbar{
  padding: 1rem;
  background-color: #f5f6f7;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
/* Estilos Generales */
section {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.5rem;
  font-family: 'Lilita One', cursive;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}
.seccion-clara {
  color: black;
  background-color: white;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Lilita One', cursive;
}
.seccion-texto{
  font-size: 1.2rem;
}

/* Login */
.login {
  height: 50px;
  padding: 10px;
}
.login-imagen{
  height: 50px;
  /* width: 300px; */
  border: solid 2px black;
}

/* Seccion Principal */
.principal {
  background-color: #f5f6f7;
  min-height: 350px;
  text-align: center;
}
.principal-superior{
  padding: 10px;
}

.principal-imagen-perfil{
  width: 200px;
  height:200px;
  border-radius: 50%;
  margin: 20px;
}
.principal-superior h2{
  font-size:1.5rem;
  color: black;
}
.principal-inferior{
  display: flex;
  background-color: darkcyan;
  padding: 4px;
  height: 50px;
  text-align: center;
  justify-content: center;
}

/* Sobre mi */
.sobre-mi {
  height: 350px;
  padding: 10px
}
.sobre-mi .contenedor{
  max-width: 600px;
  text-align: center;
}

/* seccion experiencia */

/* Proyecto */
.proyectos {
  padding: 40px 40px 80px 40px;
}
.proyectos .carousel {
  max-width: 800px;
}
.carousel-item {
  height: 500px;
}

/* Adaptable/responsivo */
@media screen and (max-width:767px) {
  .navbar-brand {
    display :none;
  }  
}   